<app-principal-header></app-principal-header>

<section class="section-logIn">
  <div>
    <p class="name-page">Registro</p>
    <label class="padding-label">Usuario:</label>
    <div class="flexbox-inputs">
      <div>
        <button class="button-of-inputs" (click)="infoButton(1)"><i class="material-icons">account_circle</i></button>
      </div>
      <input class="input-agregar" type="text" placeholder="Username" name="username" [(ngModel)]="usernameRegister">
    </div>
    <label class="padding-label">Contraseña:</label>
    <div class="flexbox-inputs">
      <div>
        <button class="button-of-inputs" (click)="infoButton(2)"><i class="material-icons">credit_card</i> </button>
      </div>
      <input class="input-agregar" type="password" placeholder="Password" name="pass" [(ngModel)]="passRegister">
    </div>
    <label class="padding-label">Confirmación contraseña:</label>
    <div class="flexbox-inputs">
      <div>
        <button class="button-of-inputs" (click)="infoButton(3)"><i class="material-icons">credit_card</i> </button>
      </div>
      <input class="input-agregar" type="password" placeholder="Password" name="confirmation" [(ngModel)]="confRegister">
    </div>
    <label class="padding-label">Rol de usuario:</label>
    <div class="flexbox-inputs">
      <div>
        <button class="button-of-inputs" (click)="infoButton(4)"><i class="material-icons">airline_seat_recline_normal</i> </button>
      </div>
      <select class="input-agregar select-add" name="role" [(ngModel)]="roleRegister"> 
        <option class="option-select" value="0">Admin</option>
        <option class="option-select" value="1">User</option>
      </select> 
    </div>
    <div class="div-button-submit"><input class="button-submit" type="button" value="Register" (click)="register()"></div>
  </div>
</section>
<simple-notifications></simple-notifications>
