@import '../user-view/user-view.component.scss';

.card-certificate {
    height: 20vh;
    width: 50vw;
    background-color: white;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.445);
    box-sizing: border-box;
    border: 5px #737373 outset;
    margin-bottom: 4vh;
}

.grid-card-certificate {
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 2.3fr 0.8fr;
    height: 18.4vh;
}

.grid-color-alertado {
    background-color: yellow;
}
.grid-color-caducado {
    background-color: red;
}
.grid-imagen {
    height: 16.4vh;
    margin-top: 1vh;
    margin-left: 1vw;
}
.grid-detalles {
    display: flex;
    align-items: center;
    font-size: 1em;
}
.grid-botones {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.margin-right-icon {
    margin-right: 4px;
}