<app-principal-header></app-principal-header>
<section class="section-logIn padding-to-bottom">
  <div>
    <div>
      <p class="name-page">Notificaciones:</p>
      <div *ngFor="let certificate of allCertificates">
        <div class="card-certificate">
          <div class="grid-card-certificate">
            <div>color</div>
            <div>imagen</div>
            <div>detalles</div>
            <div>buton</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<simple-notifications></simple-notifications>