@import '../login-view/login-view.component.scss';

.section-log-out {
  border-left: 2px #99cc00 solid;
  border-right: 2px #99cc00 solid;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-out {
  font-size: 8vh;
}

.button-log-out {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* menu */

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 5vw;
}

/* items del menu */

#menu ul li {
  background-color: white;
}

/* enlaces del menu */

#menu ul a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #99cc00;
}

/* items del menu */

#menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 31vw;
  height: 12.5vh;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
  background-color: #687a2f;
}

/* menu desplegable */

#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 0;
}

/* items del menu desplegable */

#menu ul ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
  width: 30.8vw;
  box-sizing: border-box;
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
  line-height: 120%;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover>ul {
  display: block;
  border: 2px #99cc00 solid;
  box-sizing: border-box;
}

.not-last {
  border-bottom: 2px #99cc00 solid;
  box-sizing: border-box;
}

.icon-menu-nav {
  font-size: 5vh;
}