header {
  height: 13vh;
  width: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  color: #99cc00;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 2vw;
  border-bottom: 2px #99cc00 solid;
}

.section-logIn {
  min-height: 87vh;
  width: auto;
  background: linear-gradient(to bottom, #d3eb8b, #adc565);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5vh;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.gtt-icon {
  height: 10vh;
  width: 20vw;
}

.name-page {
  color: #4e4e4e;
  font-size: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 1px #737373 solid;
}

.to-reg-log {
  height: 100%;
  color: #99cc00;
  font-size: 4vh;
  font-weight: bold;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-left: 2px #99cc00 solid;
  border-right: 2px #99cc00 solid;
}

.input-agregar {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 0.2vh;
  height: 4.8vh;
  width: 30vw;
  background: linear-gradient(to bottom, rgb(180, 180, 180), rgb(236, 236, 236));
  margin-bottom: 3vh;
  border-top-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-bottom-color: rgb(124, 124, 124);
  border-right-color: rgb(124, 124, 124);
}

.div-button-submit {
  display: grid;
  justify-content: center;
  align-items: center;
}

.button-submit {
  height: 6vh;
  width: 10vw;
  min-width: 100px;
  border-radius: 5px;
  background-color: #99cc00;
  border-top-color: #c0ff02;
  border-left-color: #c0ff02;
  border-bottom-color: #84af02;
  border-right-color: #84af02;
  color: white;
  font-weight: bold;
}

label {
  color: #737373;
  font-size: 3vh;
}

.button-of-inputs {
  color: white;
  background-color: #99cc00;
  border-top-color: #c0ff02;
  border-left-color: #c0ff02;
  border-bottom-color: #84af02;
  border-right-color: #84af02;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-sizing: border-box;
  height: 6vh;
}

.flexbox-inputs {
  display: flex;
}

.padding-label {
  padding-left: 3vw;
}