<header>
  <img class="gtt-icon" src="../../assets/gtt1.png">
  <input class="to-reg-log" type="button" routerLink="/register" routerLinkActive="active" value="Register">
</header>

<section>
  <div>
    <p class="name-page">Login</p>
    <label class="padding-label">Usuario:</label>
    <div class="flexbox-inputs">
      <div>
        <button class="button-of-inputs" (click)="infoButton(1)"><i class="material-icons">account_circle</i></button>
      </div>
      <input class="input-agregar" type="text" placeholder="Username" name="username" [(ngModel)]="usernameLogin">
    </div>
    <label class="padding-label">Contraseña:</label>
    <div class="flexbox-inputs">
      <div>
        <button class="button-of-inputs" (click)="infoButton(2)"><i class="material-icons">credit_card</i> </button> </div> <input class="input-agregar"
              type="password" placeholder="Password" name="pass" [(ngModel)]="passLogin">
      </div>
      <div class="div-button-submit"><input class="button-submit" type="button" value="Login" (click)="login()"></div>
    </div>
</section>
<simple-notifications></simple-notifications>
