<header>
  <img class="gtt-icon" src="../../assets/gtt1.png">
  <div class="section-log-out">
    <nav id="menu">
      <ul>
        <li><a href="#"><i class="material-icons log-out">account_box</i><i class="material-icons log-out">arrow_drop_down</i></a>
          <ul>
            <li class="not-last"><a routerLink="/home" routerLinkActive="active"><i class="material-icons icon-menu-nav">home</i></a><a
                routerLink="/home" routerLinkActive="active">Inicio</a></li>
            <li class="not-last"><a routerLink="/user" routerLinkActive="active"><i class="material-icons icon-menu-nav">description</i></a><a
                routerLink="/user" routerLinkActive="active">Datos usuario</a></li>
            <li><a href="" (click)="logOut()"><i class="material-icons icon-menu-nav">power_settings_new</i></a><a href=""
                (click)="logOut()">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="section-logIn padding-to-bottom">
  <div *ngIf="userActive">
    <div>
      <p class="name-page">Datos usuario:</p>
      <div class="grid-user">
        <label class="padding-label padding-label-user">Nombre de usuario :</label>
        <label class="label-result">{{ userActive ? userActive.username : "" }}<br><br></label>
        <label class="padding-label padding-label-user">Rol :</label>
        <label class="label-result">{{ userActive.role === 1 ? 'User' : 'Admin' }}<br><br></label>
      </div>
      <div class="div-button-submit">
        <button class="button-submit button-submit-user"><i class="material-icons">credit_card</i>
          Cambiar contraseña</button>
      </div>
    </div>
    <div>
      <div class="name-page">
        <div class="controls">
          <button class="button-submit button-submit-userJira" (click)="editJira = !editJira"><i class="material-icons">create</i>
            <div *ngIf="!editJira">Editar</div>
            <div *ngIf="editJira">Salir edición</div>
          </button>
        </div>
        Datos Jira:
        <!--<i class="material-icons">feedback</i> -->
      </div>
      <br>
      <label class="padding-label">Usuario de Jira:</label>
      <label *ngIf="!editJira" class="label-result">{{ jiraActive ? jiraActive.username : "" }}<br><br></label>
      <div *ngIf="editJira" class="flexbox-inputs">
        <div>
          <button class="button-of-inputs" (click)="infoButton(1)"><i class="material-icons">account_circle</i></button>
        </div>
        <input class="input-agregar" type="text" placeholder="Nombre de usuario" name="username" [(ngModel)]="usernameJira">
      </div>
      <label class="padding-label">Contraseña de Jira:</label>
      <label *ngIf="!editJira" class="label-result">{{ convertPass() }}<br><br></label>
      <div *ngIf="editJira" class="flexbox-inputs">
        <div>
          <button class="button-of-inputs" (click)="infoButton(2)"><i class="material-icons">credit_card</i></button>
        </div>
        <input class="input-agregar" type="password" placeholder="Contraseña" name="password" [(ngModel)]="passwordJira">
      </div>
      <label class="padding-label">Componente de Jira:</label>
      <label *ngIf="!editJira" class="label-result">{{ jiraActive ? jiraActive.component : "" }}<br><br></label>
      <div *ngIf="editJira" class="flexbox-inputs">
        <div>
          <button class="button-of-inputs" (click)="infoButton(3)"><i class="material-icons">settings</i></button>
        </div>
        <input class="input-agregar" type="text" placeholder="Componente" name="component" [(ngModel)]="componentJira">
      </div>
      <label class="padding-label">Proyecto de Jira:</label>
      <label *ngIf="!editJira" class="label-result">{{ jiraActive ? jiraActive.proyect : "" }}<br><br></label>
      <div *ngIf="editJira" class="flexbox-inputs">
        <div>
          <button class="button-of-inputs" (click)="infoButton(4)"><i class="material-icons">note</i></button>
        </div>
        <input class="input-agregar" type="text" placeholder="Contraseña" name="proyect" [(ngModel)]="proyectJira">
      </div>
      <label class="padding-label">URL de Jira:</label>
      <label *ngIf="!editJira" class="label-result">{{ jiraActive ? jiraActive.url : "" }}<br><br></label>
      <div *ngIf="editJira" class="flexbox-inputs">
        <div>
          <button class="button-of-inputs" (click)="infoButton(5)"><i class="material-icons">language</i></button>
        </div>
        <input class="input-agregar" type="text" placeholder="Contraseña" name="url" [(ngModel)]="urlJira">
      </div>
      <div *ngIf="editJira" class="div-button-submit">
        <button class="button-submit button-submit-userJira" (click)="addNewJira()"><i class="material-icons">create</i>Editar
          Jira</button>
      </div>
    </div>
  </div>
</section>
<simple-notifications></simple-notifications>
